/* Bill */
#bill .bill-detial {
    margin-top: 5rem;
}

/* bill no: id: name: */
#bill .bill-detial .id,
#bill .bill-detial .detial {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}
#bill .bill-detial .id span {
    display: flex;
}
#bill .bill-detial .id span p {
    padding: 0.5rem;
    font-size: 1.3rem;
}

/* bill detial */
#bill .bill-detial .detial span {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 1.2rem;
}
#bill .bill-detial .detial span h3 {
    font-size: 1.2rem;
}

/* bill palce on */
#bill .bill-detial .place-on span {
    display: flex;
    padding: 0.5rem 0;
}
#bill .bill-detial .place-on span p:last-child {
    padding-left: 0.5rem;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    #bill .bill-detial {
        margin-top: 4rem;
    }

    #bill .bill-detial .id span p {
        padding: 0.2rem;
        font-size: 1rem;
    }

    #bill .bill-detial .detial span {
        padding: 0.8rem 0;
        font-size: 1rem;
    }

    #bill .bill-detial .detial span h3 {
        font-size: 1rem;
    }

    #bill .bill-detial .place-on span p:last-child {
        padding-left: 0.2rem;
    }
}