*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* =============== section body ==============*/

.box_container_function_delete{
    width: 80%;
    background-color: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    margin: auto;

}
.container_function_delete{
    width: 80%;

}