.category_container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 7rem 0;
    gap: 4rem;
}

.category_container2 .box-category button {
    border: none;
    background: none;
    cursor: pointer;
}

.box-category {
    background-color: #FFF;
    width: 10%;
    padding: 10px 0;
    border-radius: 7px;
    border: 1px solid #DDDCE1;
}

.box-category img {
    width: 50%;
}


@media (max-width: 768px) {}


@media screen and (max-width: 420px) {
    .category_container2 {
        gap: 5px;
    margin: 5rem 0 2rem 0;
    padding: 10px;
    }

    .box-category {
        width: 30%;
        height: auto;
    }

    .box-category img {
        width: 50%;
    }
}