.category_container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 4rem;
}

.category_container2 .box-category button {
    border: none;
    background: none;
    cursor: pointer;
}

.box-category {
    background-color: #FFF;
    width: 10%;
    padding: 10px 0;
    border-radius: 7px;
    border: 1px solid #DDDCE1;
}

.box-category img {
    width: 50%;
}


@media (max-width: 820px) {
    .category_container2 {
        gap: 3rem;
        width: 100%;
        margin: 2rem 0 3rem 0;
        padding: 10px;
        justify-content: center;
    }

    .box-category {
        width: 17%;
        height: auto;
    }

    .box-category img {
        width: 40%;
    }
}


@media screen and (max-width: 420px) {
    .category_container2 {
        gap: 0;
        margin: 1rem 0 2rem 0;
        padding: 10px;
        justify-content: space-between;
    }

    .box-category {
        width: 29%;
        height: auto;
    }

    .box-category img {
        width: 50%;
    }
}