.category_container {
    gap: 5rem;
    margin: 1.5rem 0;
}

.category_container,
.box-category {
    display: flex;
}

.category_container .box-category {
    text-align: center;
    padding: 1rem 0;
    justify-content: space-evenly;
}

.category_container .box-category button {
    border: none;
    background: none;
    cursor: pointer;
}

#category .box-category {
    margin-top: 1rem;
}

#category .box-category a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
}

#category .box-category .box {
    width: 100%;
}

#category .box-category .box img {
    width: 25%;
}

@media (max-width: 820px) {
    .category_container {
        margin-top: 2rem;
    }
    #category{
        width: 80%;
        margin: auto;
    }
    #category .box-category {
        width: 20%;
    }
    
    #category .box-category a {
        font-size: 1rem;
    }
}