#container_order_item {
    width: 80%;
    margin: 6rem auto 0 auto;
}

.account-navbar {
    display: flex;
    justify-content: space-between;
}

#container_order_item .container_order_all {
    display: grid;
    width: 100%;
    align-items: center;
    padding: 15px 0;
}



.guopIconbAck {
    display: flex;
    align-items: center;
    gap: 10px;
}

#container_order_item .box_item_order {
    width: 100%;
    height: auto;
    display: flex;
    text-align: left;
    gap: 1.9rem;
    margin-top: 0.6rem;
    padding: 20px 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-radius: 7px;
}

.iconnBack {
    font-size: 25px;
}


#container_order_item .box_item_order_text p {
    margin-top: 0.3rem;
}


.txtheadeproductorder{
    font-weight: 600;
    text-align: left;
}
@media screen and (max-width: 768px) {
    #container_order_item {
        width: 100%;
    }

    #container_order_item .box_item_order {
        width: 100%;
        font-size: 1.2rem;
    }

    #container_order_item .box_item_order img {
        width: 45%;
    }
}

@media screen and (max-width: 420px) {
    #container_order_item .box_item_order {
        padding: 10px 20px;
    }
    
}

/* ================= */
/* Bill */

/* Bill */
#bill {
    width: 80%;
    margin: 6rem auto 0 auto;
}

/* bill no: id: name: */
.guopoidHead{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.iconnboxx{
    text-align: center;
    font-size: 45px;
    color: #347FFF;
}
.bill-detial{
    padding: 25px 40px ;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}
.idf{
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
}

.billGopBox{
    display: grid; 
    width: 100%;
    margin: auto;
    padding: 30px 0;
  
}


.billGopBox table {
    width: 100%;
}

.billGopBox table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.billGopBox table tr th {
    width: 15%;
    text-align: center;
}
.billGopBox table tr td {
    width: 15%;
    text-align: center;
}

.titlePrice{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.place-on{
    display: grid;
    gap: 1rem;
    padding: 0 2rem;
}
/* Responsive */
@media only screen and (max-width: 768px) {
    #bill .bill-detial {
        margin-top: 4rem;
    }

    #bill .bill-detial .id span p {
        padding: 0.2rem;
        font-size: 1rem;
    }

    #bill .bill-detial .detial span {
        padding: 0.8rem 0;
        font-size: 1rem;
    }

    #bill .bill-detial .detial span h3 {
        font-size: 1rem;
    }

    #bill .bill-detial .place-on span p:last-child {
        padding-left: 0.2rem;
    }
}

@media screen and (max-width: 420px) {
    #bill {
        width: 100%;
    }
    #bill .bill-detial {
        margin-top: 0;
        margin-bottom: 5rem;
    }
    .bill-detial{
        padding: 25px 20px;
        background: #FFF;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    }
}