#container_order_item {
    width: 90%;
}

#container_order_item .container_order_all{
    display: grid;
    width: 100%;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
    padding: 15px 0;
}

#container_order_item .box_item_order {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.9rem;
    margin-top: 0.6rem;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
#container_order_item .box_item_order img {
    width: 15%;
    background-color: #7777;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
#container_order_item .box_item_order_text p{
    margin-top: 0.3rem;
}

@media screen and (max-width: 768px) {
    #container_order_item {
        width: 100%;
    }
    #container_order_item .box_item_order {
        width: 100%;
        font-size: 1.2rem;
    }
    #container_order_item .box_item_order img {
        width: 45%;
    }
}