/* Board */
.board {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-38%, -50%);
    overflow: hidden;
}

/* manage and target */
.board .manage-target {
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: space-between;
    padding: 1rem 0;
}

/* manage */
.board .manage-target .manage {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #eee;
    border-radius: 7px;
}
.board .manage-target .manage .menu-box {
    display: grid;
    width: 50%;
    height: 20vh;
    text-align: center;
    align-items: center;
    margin: 0 0.2rem;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #eee;
}
.board .manage-target .manage .menu-box div {
    display: flex;
    margin: auto;
}
.board .manage-target .manage .one {
    background-color: #FDEDEC;
}
.board .manage-target .manage .two {
    background-color: #FEF9E7;
}
.board .manage-target .manage .three {
    background-color: #EAFAF1;
}
.board .manage-target .manage .four {
    background-color: #F4ECF7;
}

/* Target */
.board .manage-target .target {
    display: grid;
    width: 50%;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #eee;
    border-radius: 7px;
    margin: 0 1rem;
    overflow: hidden;
}

/* Graph image */
.board .manage-target .target .target-graph {
    width: 50%;
    margin: auto;
}
.board .manage-target .target .target-graph img {
    width: 100%;
}

/* Reality */
.board .manage-target .target .reality,
.board .manage-target .target .target-sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.board .manage-target .target span p {
    color: #ABB2B9;
    font-weight: 100;
}

.board .manage-target .target .reality span,
.board .manage-target .target .target-sale span {
    margin-left: -8rem;
}
.board .manage-target .target .reality .bag{
    color: #52BE80;
    background-color: #EAFAF1;
    border-radius: 7px;
    padding: 0.5rem 0.7rem;
}
.board .manage-target .target .reality .number {
    color: #52BE80;
}

/* Target sale */
.board .manage-target .target .target-sale .sale {
    color: #F5B041;
    background-color: #FEF9E7;
    border-radius: 7px;
    padding: 0.5rem 0.7rem;
}
.board .manage-target .target .target-sale .number {
    color: #F5B041;
}


/* Products and visit */
.products-visit {
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: space-between;
    padding: 1rem 0;
}

/* Products */
.products-visit .products {
    display: grid;
    width: 60%;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #eee;
    border-radius: 7px;
    overflow: hidden;
}
.products-visit .products .items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.products-visit .products .items h4 {
    color: #ABB2B9;
}
.products-visit .products .items:last-child {
    border: none;
}

/* Visit */
.products-visit .visit {
    display: grid;
    width: 40%;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #eee;
    border-radius: 7px;
    margin: 0 1rem;
    overflow: hidden;
}
.products-visit .visit .visitor-graph {
    width: 50%;
    margin: auto;
}
.products-visit .visit .visitor-graph img {
    width: 100%;
}
.products-visit .visit .detial {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}
.products-visit .visit .detial span {
    display: flex;
    align-items: center;
}
.products-visit .visit .detial .blue {
    width: 10px;
    height: 10px;
    background-color: #0017FE;
    margin-right: 0.3rem;
}
.products-visit .visit .detial .red {
    width: 10px;
    height: 10px;
    background-color: #FE0000;
    margin-right: 0.3rem;
}
.products-visit .visit .detial .green {
    width: 10px;
    height: 10px;
    background-color: #28B463 ;
    margin-right: 0.3rem;
}